<mat-sidenav-container class="container">
    <mat-sidenav mode="side" opened>
      <mat-card>
        <mat-tab-group>
          <mat-tab>
            <ng-template mat-tab-label>
              <mat-icon matListIcon>forum</mat-icon>
            </ng-template>
            <mat-list class="conversations" *ngFor="let c of diss">
             <li [routerLink]="['/ui/detailchat',c.id]" >{{c.id}} </li>
             
            </mat-list>
          </mat-tab>
        </mat-tab-group>
      </mat-card>
    </mat-sidenav>
    <mat-sidenav position="end" mode="side" opened *ngIf="selectedConversation">
      <mat-card>
        <mat-list class="members">
            ...
        </mat-list>
      </mat-card>
    </mat-sidenav>
    <section class="empty-conversation" *ngIf="!selectedConversation">
      <h1 class="mat-display-1"></h1>
    </section>
    <section *ngIf="selectedConversation">
      <div class="mat-typography conversation-header">
          ...
      </div>
      <mat-divider></mat-divider>
      <mat-list dense class="conversation-history mat-typography">
        ...
      </mat-list>
      <div class="conversation-input">
        <mat-divider></mat-divider>
        <mat-form-field class="full-width">
         
        </mat-form-field>
      </div>
    </section>


    
  </mat-sidenav-container>