
<div id="forms" class="page-layout simple fullwidth" fxLayout="column">

   
  <!-- CONTENT -->
  <div class="content p-24">
   

          

      
      
      <div class="h1">
          Liste des marques
          
      </div>
      <div class="content p-24"  >
        
        <button mat-raised-button color="primary"[routerLink]="['/ui/addGamme']" >Ajouter une nouvelle  marque</button>
        </div>
      <div class="content" fxLayout="row wrap" fxLayoutGap="30px grid" >
        <div fxFlex="25%" fxFlex.xs="100%" fxFlex.sm="33%"  *ngFor="let m of Marque" >
          <mat-card class="mat-elevation-z4" >
            <mat-card-header>
              <mat-card-title> {{m.nameEN}}</mat-card-title>
            </mat-card-header>
            <img mat-card-image src="{{m.image.uploadDir}}" style="max-height: 150px;" class="img-responsive">
            <mat-card-content>
             
           
            </mat-card-content>
            <mat-card-actions>
              
              <button mat-button (click)="ondelete(m.id)">Supprimer</button>
              <button mat-button (click)="openDialog(m.id)">Modifier</button>
            </mat-card-actions>
          </mat-card>
        </div>
      </div>
    </div>