@mixin login-2-theme($theme) {

    $background: map-get($theme, background);
    $foreground: map-get($theme, foreground);
    $accent: map-get($theme, accent);
    $is-dark: map-get($theme, is-dark);

    login-2 {

        #login {
			
			
			#menu-home{
				position: absolute;
				z-index: -1;
				top: 0;
				left: 0;
				width: 100%;
				background-color:#33C4FF;
			}
			
            #login-intro {
                color: white;
            }

            #login-form-wrapper {
                @if ($is-dark) {
                    background: mat-color($fuse-navy, 600);
                } @else {
                    background: map-get($background, card);
                }

                #login-form {

                    .separator {
                        color: map-get($foreground, divider);

                        .text {

                            &:before,
                            &:after {
                                border-top-color: map-get($foreground, divider);
                            }
                        }
                    }
                }
            }
        }
    }
}